.benefits {
    display: flex;
    padding: 0;
}

.benefits .benefits_item:not(:last-child) {
    margin-right: 30px;
}

.benefits_item .icon-bcg {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.name_benef {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benef_txt {
    color: var(--graycolor);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}