.footer {
    background-color: $bgcolorfooter;
    padding: 60px 0;
}

.footer_l {
    color: $whitecolor;
    display: inline-block;
    margin-bottom: 20px;
}

.footer_list_adr {
    color: $whitecolor;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms, border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_list_item {
    padding: 0;
    margin-bottom: 9px;
}

.footer_list_mail,
.footer_list_tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms, border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_list {
    padding-left: 0;
}

.footer_list_item:nth-last-child(1) {
    margin-bottom: 0;
}

.footer_div {
    display: flex;
    align-items: baseline;
}
.joinus_text, .title_s {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whitecolor;
    margin-bottom: 20px;
}
.footer_list_adress {
    margin-right: 70px;
}
.joinus_list {
    padding: 0;
}
.joinus-item:nth-last-child(1) {
    margin-right: 0;
}
.joinus_social_list {
    padding: 0;
    display: flex;
    justify-content: center;
}
.joinus-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    padding-bottom: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: color 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.joinus_icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.joinus_social_list .links-icon-f {
   fill: $whitecolor;
}
.joinus-item:hover {
    background-color: $bluecolor;
}

.footer_div {
    display: flex;
    align-items: baseline;
}

.joinus_text,
.title_s {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whitecolor;
    margin-bottom: 20px;
}

.footer_list_adress {
    margin-right: 70px;
}

.joinus_list {
    padding: 0;
}

.joinus-item:nth-last-child(1) {
    margin-right: 0;
}

.joinus_social_list {
    padding: 0;
    display: flex;
    justify-content: center;
}

.joinus-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    padding-bottom: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: color 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.joinus_icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinus_social_list .links-icon-f {
    fill: $whitecolor;
}

.joinus-item:hover {
    background-color: $bluecolor;
}

/* Subscribe */

.subscribe {
    margin-left: auto;
    height: 86px;
}

.send {
    width: 358px;
}

.sub_form input {
    width: 358px;
    height: 50px;
}

.sub_form input {
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.mail_sub {
    display: flex;
    align-content: center;
}

.email_input {
    width: 358px;
    height: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 16px;
    padding: 15px 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
}

.email_input:focus {
    border: 1px solid $bluecolor;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.subbutton {
    display: flex;

    font-family: inherit;
    background: $bluecolor;

    width: 200px;
    height: 50px;
    margin-left: 12px;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);


    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $whitecolor;
    justify-content: center;
    align-items: center;
}

.links-icon-send {
    fill: $whitecolor;
    margin-left: 10px;
}

.subbutton:hover,
.subbutton:focus {
    color: $whitecolor;
    background-color: $activebutton;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.text_sub_s {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $whitecolor;
}