.servises {
    margin-bottom: 94px;
}

.whatwedo,
.ourteam {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.whatwedo_l {
    display: flex;
    padding: 0;
}

.whatwedo_l .whatwedo_item:not(:last-child) {
    margin-right: 30px;
}

.whatwedo_item {
    position: relative;
}

.overley-title {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--whitecolor);
    background: rgba(47, 48, 58, 0.8);
    /* padding-top: 27px;
    padding-bottom: 27px; */
}