.ourteam_l {
    display: flex;
    padding: 0px;
}

.ourteam_l .ourteam_item:not(:last-child) {
    margin-right: 30px;
}

.ourteam_item {
    background-color: var(--whitecolor);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.ourteam_item:hover,
.ourteam_item:focus {
    transform: scale(1.1);
}

.social-icon {
    justify-content: center;
}

.social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    padding-bottom: 0;
    border-radius: 50%;
    /* outline: solid 1px black; */
    transition: color 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
    background-color: var(--bluecolor);
}

.ourteam_item .links-icon {
    fill: var(--iconcolor);
}

.social-item:hover .links-icon {
    fill: var(--whitecolor);
}

.ourteam_item .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
}

.ourteam_item .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-item:nth-last-child(1) {
    margin-right: 0;
}



.team_text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ourteam_img {
    display: block;
}

.ourteam_h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.ourteam_p {
    color: var(--graycolor);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    background-color: var(--buttoncolor);
}

