.progect_list_b {
    color: var(--blackcolor);
    background-color: var(--buttoncolor);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    transition: color 250ms, background-color 250ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.progect_list_b:hover,
.progect_list_b:focus,
.active-button {
    color: var(--whitecolor);
    background-color: var(--bluecolor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.progect_list_bi {
    color: var(--whitecolor);
    background-color: var(--bluecolor);
    padding: 0;
    width: 216px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;

    border: none;
    font-family: inherit;

    transition: color 250ms, background-color 250ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.progect_list_bi:hover,
.progect_list_bi:focus,
.active-button {
    color: var(--whitecolor);
    background-color: var(--activebutton);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.progect_l {
    display: flex;
    justify-content: center;
    padding: 0;

    margin-bottom: 50px;
}

.progect_l .progect_list:not(:last-child) {
    margin-right: 8px;
}