:root {
    --maincolor: #212121;
    --bluecolor: #2196F3;
    --blackcolor: #000000;
    --graycolor: #757575;
    --whitecolor: #ffffff;
    --adresscolor: rgba(255, 255, 255, 0.6);
    --buttoncolor: #F5F4FA;
    --bgcolorfooter: #2F303A;
    --activebutton: #188CE8;
    --border: #ECECEC;
    --iconcolor: #AFB1B8;

}